*{

font-size: 14px;

}
.info_uploader  .avatar-upload img{
width: 100%;
height: 80px;
object-fit: cover;
}


.form-control:focus{

border-color: #C39E00 !important;

}

.form-control{

font-size: 14px;

}

.btn{

color: #fff;



border-color: #C39E00;

padding: 6px 14px;



background-color: #C39E00;



box-shadow: none;

}

.pb-4, .py-4 {

padding: 1rem  0 !important;

}

.btn-group-sm > .btn, .btn-sm{

padding: 4px 15px;

font-size: 14px;

}

b, strong {

font-weight: bolder !important;

}

a{

cursor: pointer;

color: #C39E00;

}

#main-logo{

margin-top: 8px;

height: 52px;

margin-left: -11px; 

}

.main-sidebar .nav .nav-item .nav-link.active i, .main-sidebar .nav .nav-item .nav-link:hover i, .main-sidebar .nav .nav-item.active i, .main-sidebar .nav .nav-item:hover i {

color: #C39E00;

}

.main-sidebar .nav .nav-item .nav-link.active > a, .main-sidebar .nav .nav-item .nav-link:hover > a, .main-sidebar .nav .nav-item.active > a, .main-sidebar .nav .nav-item:hover > a {

box-shadow: inset .1875rem 0 0 #C39E00;

background-color: #fbfbfb;

color: #C39E00;

}

.main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover {

box-shadow: none;

background-color: transparent;

color: unset;

}

.btn-accent {

color: #fff;

border-color: #C39E00;

background-color: #C39E00 !important;

color: #fff !important;

box-shadow: none;

}

.btn-accent:hover {

color: #fff;

background-color: #C39E00;

border-color: #C39E00;

box-shadow: 0 5px 15px rgba(0,0,0,.05),0 4px 10px rgba(0,123,255,.25);

}

.btn-black:not([disabled]):not(.disabled).active, .btn-black:not([disabled]):not(.disabled):active, .btn-white:not([disabled]):not(.disabled).active, .btn-white:not([disabled]):not(.disabled):active {

box-shadow: none !important;

background-color: #C39E00;

border-color: #C39E00;

color: #fff;



}

.main-sidebar{

max-width: 62px;

top: 68px;

}

.promo-popup .pp-intro-bar, .promo-popup .pp-inner-content a{

background: #BA8D38;

}

.promo-popup > a{

display: none;

}

.promo-popup .pp-inner-content{

float: left;

width: 100%;  

padding: 15px !important

}

.promo-popup .pp-intro-bar{

padding: 10px 12px !important;

float: left;

width: 100%;

}

.main-sidebar{

background-color: #fff;

box-shadow: none;

}

.main-sidebar .nav-wrapper{

width: 62px;

/*box-shadow: 0 .125rem 9.375rem rgba(90,97,105,.1),0 .25rem .5rem rgba(90,97,105,.12),0 .9375rem 1.375rem rgba(90,97,105,.1),0 .4375rem 2.1875rem rgba(165,182,201,.1);*/

}

.main-sidebar .nav .nav-item .nav-link{

padding: 19px;

}

.main-sidebar:hover{

max-width: 17%;

}

.main-sidebar:hover >  .nav-wrapper{

width: 100%;

}

.main-sidebar .nav-wrapper:hover{

width: 100%;

/*background: #fff;*/

}

.nav li.active>a+ul 

{

max-height: 1000px;

}

a .fa  

{

/*float: right;*/

-webkit-transition: -webkit-transform .65s ease;

transition: transform .65s ease;

}

.nav li.active>a .fa 

{

-webkit-transform: rotate(90deg);

-ms-transform: rotate(90deg);

transform: rotate(90deg);

}

.nav a, .nav label {

-webkit-transition: all .25s ease-in;

transition: all .25s ease-in;

}

.nav ul ul 

{

display: none;

list-style-type: none;

}

.group-list{

padding-left: 65px; 

}

/*.main-sidebar .nav .nav-item, .main-sidebar .nav .nav-link{

height: 63px;

}*/

.group-list li {

float: left;

width: 100%;

font-weight: 400;

padding: 9px;

}

.main-sidebar .nav .nav-item .nav-link i.material-icons {

font-size: 1.125rem;

top: 20px;

position: absolute;

left: 18px;

}

.main-sidebar .nav .nav-item{

position: relative;

}

.main-sidebar .nav .nav-item .nav-link > span{

padding-left: 45px;

float: left;

}

.btn-white{

background-color: white;

}

.alert {

width: 99.5%;

float: right;

font-size: 13px;

padding: 8px;

font-weight: normal;

}

.alert-dismissible .close {

padding-top: 4px;

padding-bottom: 4px;

}

.round{

display: inline-block;

height: 8px;

width: 8px;

border-radius: 50%;

margin-right: 3px;

position: relative;

top: -2px;

}

.green{

background-color: green;

}

.red{

background-color: red;

}

.yellow{

background-color: orange;

}

.btn-success{

background-color: #14af64;

border-color: #14af64;

}

.main-content{

padding-right: 0;

}

.main-navbar{

left: 0;

position: fixed;

width: 100%;

}

.main-content .header-navbar, .main-content > .main-navbar{

box-shadow: none;

}

.main-content-container{

padding-top: 64px;

}

.input-daterange input{

text-align: left;

}

.table td, .table th {

border: 1px solid #ddd;

padding: 5px 7px !important;

}

.custom-control{

display: inline-block;	

}

.table2{

width: 100%;

}



.table2 p{

margin-bottom: 2px;

}

.table2 td, .table2 th{

border: 1px solid #ddd;

padding: 4px 7px;

}

.table2 tr td:nth-child(2){

border-right: none;

border-left: none;

}

.table2 tr td:nth-child(1){

border-right: none;

text-align: center;

}

.table2 tr td:nth-child(3){

text-align: right;

border-left: none;

}

.table2 tr th:nth-child(2){

border-left: none;

text-align: right;

}

.table2 tr th:nth-child(1){

border-right: none;

}

.dataTables_filter input, .dataTables_length select{

padding: .4375rem .75rem;

font-size: .8125rem;

line-height: 1.5;

color: #495057;

background-color: #fff;

border: 1px solid #e1e5eb;

font-weight: 300;

will-change: border-color,box-shadow;

border-radius: .25rem;

box-shadow: none;

transition: box-shadow 250ms cubic-bezier(.27,.01,.38,1.06),border 250ms cubic-bezier(.27,.01,.38,1.06);

}

.dataTables_wrapper .dataTables_paginate .paginate_button{

padding: 0;

}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{

font-size: 11px;

}

table.dataTable.no-footer{

border-bottom: none;

}

.dataTables_wrapper{

margin-top: 10px;

}

.modal-title{

float: left;

width: 100%;

}

.modal-header .close {
padding: 1rem;
margin: -.5rem -1rem -1rem auto;
}

.social .fa{

	display: inline-block;

	margin-right: 7px;

}

.social{

	padding-left: 7px;

}
.update_log {
    float: left;
    width: 100%;
    /* padding: 5rem; */
}
.update_log .panel{
	float: left;
	width: 100%;
	box-shadow: none;
	background: #fff;
	padding: 20px;
	}
	.update_log .panel .uploader{
	  width: 50%;
	  margin: 0 auto;
	  border: 1px solid #ddd;
	  padding: 20px;
	}
	.update_log .panel  img{
	width: 140px;
	}
	.update_log .panel .uploader .btn{
	float: right;
	margin-right: 24px;
	margin-top: 20px;
	}
	.update_log .panel .info_uploader .tab-content{
	  margin-top: 25px;
	}
	.update_log .panel .uploader .col-md-6 a{
	  float: left;
	  margin-top: 10px;
	  margin-left: 34px;
	/* color: #04203C; */
	}
	
	.avatar-upload {
	  position: relative;
	  max-width: 205px;
	  /* margin: 5px auto; */
	}
	.avatar-upload .avatar-edit {
	  position: absolute;
	  right: 12px;
	  z-index: 1;
	  top: 10px;
	}
	.avatar-upload .avatar-edit input {
	  display: none;
	}
	.avatar-upload .avatar-edit input + label {
	  display: inline-block;
	  width: 34px;
	  height: 34px;
	  margin-bottom: 0;
	  border-radius: 100%;
	  background: #426B9C;
	  border: 1px solid transparent;
	  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	  cursor: pointer;
	  font-weight: normal;
	  transition: all 0.2s ease-in-out;
	}
	.avatar-upload .avatar-edit input + label:hover {
	  background: #f1f1f1;
	  border-color: #d6d6d6;
	}
	.avatar-upload .avatar-edit input + label:after {
	  content: "\f040";
	  font-family: 'FontAwesome';
	  color: #fff;
	  position: absolute;
	  top: 8px;
	  left: 0;
	  right: 0;
	  text-align: center;
	  margin: auto;
	}
	.avatar-upload .avatar-preview {
	  width: 100%;
	  height: 160px;
	  position: relative;
	  border-radius: 0;
	  border: 6px solid #F8F8F8;
	  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	}
	.avatar-upload .avatar-preview > div {
	  width: 100%;
	  height: 100%;
	  border-radius: 0;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
	}
	/* .info_uploader{
		width: 80%;
		margin: 0 auto;
		border: 1px solid #ddd;
		padding: 20px;
	  } */
	  .info_uploader h4{
		font-weight: bold;
		position: relative;
		/* text-align: center;	 */
		/* margin-top: 25rem; */
		font-size: 20px;
	  }
	  .info_uploader .col-md-2 img {
		  width: 85px;
		  position: relative;
		  text-align: center;
		  margin-top: 25rem;
	  }
	  .info_uploader .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
		background: #406A9A;
		color: #fff;
		border-radius: 0px; 
		font-weight: normal;
		padding: 10px 15px;
	  }
	  .info_uploader .nav > li > a:focus, .nav > li > a:hover{
	  border-radius: 0px;
	  border: none; 
	  }
	  .info_uploader .nav-tabs > li > a{
		color: #747474;
		padding:11px;
	  }
	  .info_uploader .nav-tabs {
		margin-bottom: 10px;
		border-bottom: none;
		margin-top: 10px;
	  }
	  .info_uploader .nav-tabs > li > a {
		margin-bottom: 10px;
		border-bottom: none;
		background: #efefef;
	}


	/* .tab-block {
		width: 650px;
		height: 290px;
		margin: 50px auto;
	  } */
	  .tab-block .tab-mnu {
		display: block;
		list-style: none;
		padding-left: 0px;
	  }
	  .tab-block .tab-mnu:after {
		content: '';
		display: table;
		clear: both;
	  }
	  .tab-block .tab-mnu li {
		box-sizing: border-box;
		float: left;
		background-color: #eee;
		color: #000;
		width: 130px;
		text-align: center;
		padding-top: 13px;
		padding-bottom: 13px;
		cursor: pointer;
	  }
	  .tab-block .tab-mnu li:not(:last-child) {
		border-right: 1px solid #ddd;
	  }
	  .tab-block .tab-mnu li:hover:not(.active) {
		background-color: #c0c7cb;
	  }
	  .tab-block .tab-mnu .active {
		background-color: #406A9A;
		color: #fff;
		border-bottom: 1px solid #eaecec;
		cursor: default;
	  }
	  .tab-block .tab-cont {
		box-sizing: border-box;
		border-top: 1px solid white;
		background-color: white;
		color: #292d2f;
	  }
	  .tab-block .tab-cont .tab-pane {
		padding: 20px 25px;
	  }
	  