@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{

    font-family: 'Open Sans', sans-serif;   

}

a:focus {

  outline: none;

}

h2 {

  color: #333333;

  font-size: 20px;

  font-weight: bold;

}

p{

  color: #5a5b5c;

  font-size: 14px;

  line-height: 1.7;

}

._404 {

  font-size: 220px;

  position: relative;

  display: inline-block;

  z-index: 2;

  /* height: 250px; */

  letter-spacing: 15px;

  color:#000;

}

.error{

text-align: center;

float: left;

width: 100%;

}

.error .panel{

box-shadow: none;

}

.page-wrapper{

display: none !important;

}

.sticky .side-search img {

  margin-left: -20px;

}

header.sticky {

  line-height: 48px;

  height: 85px;

  background: #fff;

  text-align: left;

  padding-left: 20px;

  position: fixed;

  width: 100%;

  z-index: 9999999;

  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

}

.header {

  background: transparent;

  z-index: 999;

  float: left;

  width: 100%;

  height: 85px;

}

.header .side-search{

line-height: 6.5;

}

.header .side-search .form-control{

  height: 40px;

  margin-top: 26px;

}

.header .side-search  .fa-search {

  float: right;

  position: relative;

  margin-top: -27px;

  margin-right: 15px;

  font-size: 14px;

  color: #5076A0;

  text-decoration: none;

cursor: pointer;

}

.header .side-search  .fa-camera {

  float: right;

  margin-right: 43px;

  margin-top: -27px;

  color: #999;

  font-size: 16px;

}

.header .side-search img{

width: 138px;

}

.header .nav {

  float: left;

}

.header .nav li {

  list-style-type: none;

  display: inline-block;

}



/* .header .nav li a {

  color: #000;

  position: relative;

  line-height: 5;

  font-weight: 600;

} */



.header ul li {

  list-style-type: none;

  display: inline-block;

}

.sticky .header ul{

  margin-left: -18px;

}

/*

    .header .col-md-4 ul li:hover > #menu{

        display: block;

        visibility: visible;

        opacity: 1;

    }

*/

.float-right {

  float: right;

}

.header ul li{

  padding: 0 24px 0px 0px;

  text-decoration: none;

}

.header ul{

padding-left: 0px;

}

.header ul li a {

  line-height: 6;

  color: #000;

  margin: 0;

  font-weight: bold;

  text-decoration: none;

}

.header .float-right li{

  padding: 0 10px 0px 0px;

}

.header ul li .fa-user {

  background: #ddd;

  color: #416A9B;

  border-radius: 50%;

  height: 25px;

  width: 25px;

  text-align: center;

  line-height: 1.8;

  font-size: 13px;

  margin-left: 3px;

}



.header ul li .fa-bars {

  font-size: 18px;

  margin-top: 34px;

  float: right;

}



.nav>li>a:focus,

.nav>li>a:hover {



  text-decoration: none;

  background-color: transparent;

  color: #5076A0;



}



.hero {

  width: 100%;

  height: 400px;

  /* background-position: center;

background-size: cover;

background-repeat: no-repeat; */

  background: #fff;

}



/* .hero::after{

position: absolute;

content: '';

height: 100vh;

background: #000;

opacity: 0.3;

width: 100%;

top: 0px;

} */

.container {

  width: 90%;

}



.hero .caption {

  position: relative;

  padding-top: 7rem;

  z-index: 9;

  text-align: center;

  margin: 0 auto;

  width: 40%;

}



.hero .caption img {

  width: 200px;

  margin-bottom: 10px;

}



.caption .form-control {

  box-shadow: none;

  height: 50px;

  margin-top: 8px;

}



.caption .fa-search {

  float: right;

  position: relative;

  margin-top: -33px;

  margin-right: 10px;

  font-size: 17px;

  color: #5076A0;

}



.caption .fa-camera {

  float: right;

  margin-right: 43px;

  margin-top: -33px;

  color: #999;

  font-size: 20px;

}



.cate {

  float: left;

  width: 100%;

}



#carousel1 .item img {

  width: 100%;

  height: 150px;

  object-fit: cover;

}



#carousel1 .owl-nav span {

  top: 22%;



}





.owl-carousel .owl-nav {

  /*    display: none;*/

  transition: opacity .2s linear;

  /* opacity: 0; */

}



.owl-carousel:hover .owl-nav {

  opacity: 1;

  transition: opacity .2s linear;

}



/* #carousel1 .owl-nav{



} */

.cate .panel {

  /* padding: 30px; */

  background: #fff;

  /* margin-top: -205px; */

  position: relative;

  /* box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0.1),0 2px 7px 0 rgba(0,0,0,0.1); */

  border-radius: 10px;

}



.cate .panel h2 {

  margin-top: 0;

  margin-bottom: 15px;

}



.cate .panel .item article {

  background: #fff;

  /* border: 1px solid #ddd; */

  float: left;

  width: 100%;

  padding: 10px;

  /*box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0.1),0 2px 7px 0 rgba(0,0,0,0.1);*/

}



.cate .panel .item article h4 {

  color: #444;

  font-size: 15px;

  text-align: left;

  font-weight: bold;

}



.location {

  padding: 20px 0;

  float: left;

  width: 100%;

}



.location h2 {

  margin-top: 0px;

}



.location .col-md-4 {

  padding: 0;

}



.location .col-md-8 {

  padding: 0;

}



.location .col-md-4 img {

  width: 100%;

  height: 331px;

  object-fit: cover;

}



.location .col-md-8 .col-md-4 img {

  width: 100%;

  height: 166px;

  padding: 1px;

}



.event {

  padding: 20px 0;

  float: left;

  width: 100%;

}



.event h2 {

  margin-top: 0px;

}



.event .col-md-6 .panel {

  background: #1F456F;

  border-radius: 0;

  padding: 20px;

  height: 300px;

}



.event .col-md-6 .panel h3 {

  color: #fff;

  font-size: 27px;

}



.event .col-md-6 .panel p {

  color: #ddd;

}



.event .col-md-6 .panel .btn {

  background: #fff;

  border-radius: 25px;

  color: #1F456F;

  font-size: 13px;

  margin-top: 10px;

}



.event .col-md-12 img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

#myCarousel{
float: left;
width:100%;
}
#myCarousel .panel{
  float: left;
  width: 100%;
  background: #eee;
  padding: 20px;
}

.grid {
  float: left;
  width: 100%;
}
#grid .item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#grid .owl-nav {
  display: none;
}
/* .grid{

padding: 40px 0;

background: #eee;

} */

/* #grid {

  background: #eee;
  padding: 15px;

} */

.grid .owl-dots {

  display: none;

}

.grid .col-md-12 img{

  margin-bottom:10px;

}

.grid .item article {

  background: #fff;

  /* border: 1px solid #ddd; */

  float: left;

  width: 100%;

  padding: 15px;

  text-align: center;

  height: auto;

  /*box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0.1),0 2px 7px 0 rgba(0,0,0,0.1);*/

}



.grid .item article:hover {

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in;

}



.grid .item ul {

  padding-left: 0;

}



.btn, .btn:hover, .btn:focus {

  background: #04203C;

  color: #fff;

  /* font-size: 12px; */

}



.grid .item ul li {

  list-style-type: none;

}



.grid .item ul li a {

  color: #999;

}



.add .col-md-3 img {

  width: 100%;

  height: 410px;

  object-fit: cover;

}



.add {

  float: left;

  width: 100%;

  padding: 20px 0;

}



.add h2 {

  /* margin-top: 0px; */

}



.add .col-md-9 img {

  width: 100%;

  height: 200px;

  object-fit: cover;

  margin-bottom: 10px;

}



.testi {

  background: #eee;

  float: left;

  width: 100%;

  text-align: center;

  padding: 30px 0;

  margin-top: 35px;

  /* margin-bottom: 35px; */

}



.testi .item img {

  width: 90px;

  height: 90px;

  margin: 0 auto;

  border-radius: 50%;

  border: 4px solid #fff;

  margin-top: 10px;

}



.testi .item p {

  color: #999;

  margin: 0 auto;

  width: 70%;

  line-height: 1.5;

  margin-top: 25px;

  text-align: left;

}



.testi .item h4 {

  color: #797979;

  font-size: 19px;

}



.testi .item h5 {

  color: #04203C;

  text-transform: capitalize;

  font-weight: bold;

}



.testi .item ul li {

  list-style-type: none;

  display: inline-block;

}



.testi .item ul {

  margin-left: -40px;

}



.testi .item .fa-star {

  color: #FFBF00;

}



/* .testi .owl-nav .owl-prev span{

  float: left;

  background: #fff !important;

  width: 50px;

  height: 50px;

  border-radius: 50%;

  font-size: 25px !important;

  position: relative;

  margin-top: -170px;

} */

.owl-nav span {

  background: #fff !important;

  width: 50px;

  height: 50px;

  border-radius: 50%;

  font-size: 35px !important;

  line-height: 1.2;

  position: absolute;

  top: 42%;

}

.owl-nav .owl-prev span{

left: 0px;

}

 .owl-nav .owl-next span {

right: 0px;

}



.blog {

  float: left;

  width: 100%;

  padding-bottom: 45px;

  background: #eee;

}



.blog .col-md-4 img {

  width: 100%;

  height: 250px !important;

  object-fit: cover;

}



/* .blog .owl-nav{

display: none;

} */

.blog .col-md-4 article h4 {

  color: #2E2E2E;

  margin-top: 8px;

  font-weight: bold;

}



.blog .owl-nav .owl-prev {

  float: left;

  background: #fff !important;

  width: 40px;

  height: 40px;

  border-radius: 50%;

  font-size: 22px !important;

  position: relative;

  margin-top: -320px;

}



.blog .owl-nav .owl-next {

  float: right;

  background: #fff !important;

  width: 40px;

  height: 40px;

  border-radius: 50%;

  font-size: 22px !important;

  position: relative;

  margin-top: -320px;



}



.blog .col-md-4 article ul {

  padding-left: 0px;

}



.blog .col-md-4 article img{

height: 250px;

}



.blog .col-md-4 article ul li {

  list-style-type: none;

  display: inline-block;

}

.blog .col-md-4 article ul li i {

  color: #FFBF00;

  font-size: 16px;

}



.blog .col-md-4 article img {

  width: 50px;

  height: 50px;

  border-radius: 50%;

  object-fit: cover;

  border: 4px solid #eee;

  margin-top: -27px;

  z-index: 9;

  position: relative;

  margin-left: 10px;

  display: none;

}



.blog .col-md-4 article p {

  color: #999;

  line-height: 1.5;

  font-size: 15px;

}



.blog .col-md-4 article .btn {

  /* color: #04203C;

  padding: 0px; */

}



.blog .col-md-4 .item span {

  display: none;

}

.app{

float: left;

width: 100%;

padding:7rem;

}

.app .col-md-8 ul{

padding-left: 0px;

}

.app h4{

color: #4C4C4C;

font-weight: bold;

}

.app p{

color: #999;

margin-top: 50px;

}

.app article{

padding-top: 8rem;

}

.app .col-md-8 ul li{

list-style-type: none;

display: block;

}

.app .col-md-4 img{

  width: 300px;

}

.app .col-md-8 img{

  width: 150px;

}

.app .col-md-8 ul li .form-control{

height: 38px;

}

.btn-large{

padding: 10px 10px !important;

}

.yellow_btn {

  position: absolute;

  top: 200px;

  background: #FFBF00;

  width: 95px;

  height: 30px;

  z-index: 9;

  left: 15px;

  line-height: 2;

  text-align: center;

  font-weight: bold;

  font-weight: normal;

  font-size: 14px;



}



.carousel-indicators {

  display: none;

}

#subs .owl-nav {

  display: block;

}

.subs {

  float: left;

  width: 100%;

  padding: 20px 0px;

  margin: 15px 0;

  text-align: center;

}



.subs h2 {

  margin-top: 0px;

}



.subs article {

  float: left;

  width: 100%;

  border: 1px solid #ddd;

  height: 310px;

  text-align: center;

}



.subs article .btn {

  background: #04203C;

  color: #fff;

  border-radius: 25px;

}



.subs article ul {

  padding-left: 0;

}



.subs article ul li {

  list-style-type: none;



  display: block;



  text-align: center;



  line-height: 3;



  color: #6C6C6C;

}



.subs article h4 {

  background: #04203C;

  margin: 0;

  color: #fff;

  padding: 10px;

  text-align: center;

}



.subs article ul li h5 {

  color: #04203C;

  font-weight: bold;

}



footer {

  float: left;

  width: 100%;

  background: #eee;

  padding: 25px 0;

}



footer .col-md-2 img {

  width: 100px;

}



footer .col-md-2 {

  width: 20%;

  text-align: right;

}



footer .col-md-2:first-child {

  text-align: left;

}



footer .form-control {

  width: 100%;



  box-shadow: none;



  height: 35px;



  border-radius: 0;

  padding-right: 38px;

}



.form-control {

  box-shadow: none;

}

.footer_top .form-control{

  height: 42px;

}

.footer_top .btn {

  background: #04203C;

  color: #fff;

  border-top-right-radius: 4px;

  position: absolute;

  top: 0;

  right: 0;

  font-size: 14px;

  height: 42px;

  border-bottom-right-radius: 4px;

  line-height: 27px;

}

footer .col-md-2 ul li {

  list-style-type: none;

  display: block;

  color: #222;

  text-align: left;

}

footer .col-md-2 ul li a{

float: left;

width: 100%;

color: #444;

text-decoration: none;

line-height: 1.5;

}

footer .col-md-2 ul li h5 {

  color: #000;

  font-weight: bold;

  /* margin-top: 35px; */

}



.footer-bottom {

  background: #fff;

  float: left;

  width: 100%;

  padding: 20px;

  border-top: 2px solid #D6D6D6;

  /* text-align: center; */

}



.footer-bottom p {

  color: #111;

  margin-bottom: 0px;

}



.footer-bottom p a {

  color: #111;

}



.footer-bottom ul li img {

  width: 100px;

}



.footer-bottom ul {

  margin-bottom: 0;

  padding-left: 0px;

}



.footer-bottom ul li {

  list-style-type: none;

  display: inline-block;

}



.footer-bottom ul li a {

  color: #999;

  margin-right: 9px;

  text-decoration: none;

  line-height: 1.5;

}



.social {

  margin: 0;

  padding-left: 0;

}



.footer_top {

  float: left;

  width: 100%;

  padding: 12px 0px 6px 0;

  border-top: 1px solid #eee;

}



.social li {

  list-style-type: none !important;

  display: inline-block !important;

}



.social li a {

  color: #04203C;

  line-height: 3;

  margin-right: 11px;

  font-size: 16px;

}



/* Important styles */

#toggle {

  /*

    display: block;

    width: 26px;

    height: 11px;

    float: right;

    margin-top: -51px;

*/

  /*    margin-left: 27px;*/

  /* margin: 30px auto 10px; */

  margin: 0;

}



/* #toggle:hover > #menu{

display: block !important;

}

#toggle:hover + #menu:hover{

display: block;

} */

.dropdown:hover > .dropdown-menu {

	display: block;

}



#toggle img {

  width: 22px;

}



#toggle span:after,

#toggle span:before {

  content: "";

  position: absolute;

  left: 0;

  top: -8px;

}



#toggle span:after {

  top: 8px;

}



#toggle span {

  position: relative;

  display: block;

}



#toggle span,

#toggle span:after,

#toggle span:before {

  width: 100%;

  height: 2px;

  background-color: #000;

  transition: all 0.3s;

  backface-visibility: hidden;

  border-radius: 2px;

}



/* on activation */

#toggle.on span {

  background-color: transparent;

}



#toggle.on span:before {

  transform: rotate(45deg) translate(5px, 5px);

}



#toggle.on span:after {

  transform: rotate(-45deg) translate(7px, -8px);

}



#toggle.on+#menu {

  opacity: 1;

  visibility: visible;

}

#toggle.on+#menu:hover{

display: block;

}

/* menu appearance*/

#menu p {

  float: left;

  width: 100%;

  margin: 5px 0;

}



#menu p a {

  line-height: normal;

  /* color: #AB352B; */

  font-size: 11px;

}



/* #menu {

  z-index: 9;

  position: absolute;



  color: #999;



  width: 237px;



  padding: 10px;

  margin: auto;



  text-align: center;



  border-radius: 4px;



  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);



  opacity: 0;



  visibility: hidden;



  transition: opacity .4s;



  background: #fff;



  right: 0;



  top: 87px;

  border: 1px solid #eee;



  border-radius: 0;

} */

#menu {

  z-index: 99999;

  position: absolute;

  color: #999;

  width: 237px;

  padding: 10px;

  height: 215px;

  text-align: center;

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);

  background: #fff;

  top: 70px;

  border: 1px solid #eee;

  border-radius: 0;

  left: -201px;

  height: auto;



}

#menu ul li {

  display: inline;

  float: left;

  width: 33%;

  text-align: center;

}



#menu ul {

  padding-left: 0;

  float: left;

  width: 100%;

  text-align: center;

  margin-left: 0;

}



#menu ul li a {

  color: #000;

  line-height: 3;

  text-align: center;

}



#menu ul li a h5 {

  color: #111;

  font-weight: bold;

  font-size: 13px;

}



#menu ul li a img {

  width: 50px;

  height: 50px;

  object-fit: cover;

  /* border: 2px solid #ddd; */

  border-radius: 50%;

  padding: 3px 4px;

}



#menu::after {

  position: absolute;

  top: -15px;

  right: 12px;

  content: "";

  display: block;

  border-left: 10px solid transparent;

  border-right: 10px solid transparent;

  border-bottom: 15px solid #eee;

}



/* ul, li, li a {

    list-style: none;

    display: block;

    margin: 0;

    padding: 0;

  }

  li a {

    padding: 5px;

    color: #888;

    text-decoration: none;

    transition: all .2s;

  }

  li a:hover,

  li a:focus {

    background: #1ABC9C;

    color: #fff;

  }  */



.carousel-fade .carousel-inner .item {

  transition-property: opacity;

}



.carousel-fade .carousel-inner .item,

.carousel-fade .carousel-inner .active.left,

.carousel-fade .carousel-inner .active.right {

  opacity: 0;

}



.carousel-fade .carousel-inner .active,

.carousel-fade .carousel-inner .next.left,

.carousel-fade .carousel-inner .prev.right {

  opacity: 1;

}



.carousel-fade .carousel-inner .next,

.carousel-fade .carousel-inner .prev,

.carousel-fade .carousel-inner .active.left,

.carousel-fade .carousel-inner .active.right {

  left: 0;

  transform: translate3d(0, 0, 0);





}



/* .slide {

  margin-top: 30px;

} */



.details {

  margin: 50px 0;

}



.details h1 {

  font-size: 32px;

  text-align: center;

  margin-bottom: 3px;

}



.details .back-link {

  text-align: center;

}



.details .back-link a {

  display: inline-block;

  margin: 20px 0;

  padding: 15px 30px;

  background: #333;

  color: #fff;

  border-radius: 24px;

}



.details .back-link a svg {

  margin-right: 10px;

  vertical-align: text-top;

  display: inline-block;

}



.detail #target{

display: none;

position: absolute;

top: 0;

width: 100%;

background: #000;

padding: 10px;

height:300px;

}

.detail video{

  position: absolute;

  z-index: 0;

  background-size: 100% 100%;

  top: 0px;

  left: 0px;

  min-width: 100%;

  min-height: 100%;

  width: auto;

  height: 300px;

  object-fit: cover;

}

.detail #target .btn {

  position: absolute;

  right: 7px;

  top: 8px;

  background: #fff;

  color: #04203C;

  border-radius: 50%;

  font-size: 16px;

  width: 30px;

  height: 30px;

  text-align: center;

  padding: 0;

  line-height: 1.8;

}

.card {

  border: 0;

  border-radius: 0px;

  /* -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);

  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08); */

  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

  transition: all .3s ease-in-out;

  padding: 2.25rem 15px;

  position: relative;

  text-align: center;

  will-change: transform;

}



/* .card:after {

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 0%;

  height: 5px;

  background-color: #57e2b2;

  transition: 0.5s;

} */

/* .card:hover {

  transform: scale(1.05);

  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

} */

.card:hover:after {

  width: 100%;

}



.card .card-header {

  background-color: white;

  padding-left: 2rem;

  border-bottom: 0px;

}

.card .card-header img{

  width: 45%;

  margin-left: 102px;

}

.card .card-title {

  margin-bottom: 1rem;

}



.card .card-block {

  padding-top: 0;

}



.card .list-group-item {

  border: 0px;

  padding: .25rem;

  color: #808080;

  font-weight: 300;

}



.display-2 {

  /* font-size: 7rem; */

  /* letter-spacing: -.5rem; */

}



.display-2 .currency {

  /* font-size: 2.75rem; */

  position: relative;

  /* font-weight: 400; */

  /* top: -45px; */

  /* letter-spacing: 0px; */

  right: 4px;

}

a:hover{

text-decoration: none;

}

.display-2 .period {

  /* font-size: 1.4rem; */

  color: #b3b3b3;

  letter-spacing: 0px;

}



.btn {

  text-transform: uppercase;

  font-size: 1rem;

  font-weight: 500;

  /* color: #a6a6a6; */

  border-radius: 4px;

  padding: .75rem 1.25rem;

  letter-spacing: 1px;

}



.btn-gradient {

  width: 70%;

  /* background-color: #f2f2f2; */

  transition: background .3s ease-in-out;

}



/* .btn-gradient:hover {

  color: white;

  background-color: #57e2b2;

} */

select{

  -webkit-appearance: none;

  -moz-appearance: none;

  -ms-appearance: none;

  padding-right: 17px !important;

  appearance: none;

}

.select_container{

  position: relative;

}

.select_container:after{

  content: "\f0d7";

  font: normal normal normal 14px/1 FontAwesome;

  position: absolute;

  right: 0;

  right: 9px;

  top: 12px;

}

.form-control:focus{

  box-shadow: none;

  border-color: #111;

}

/* -----listing-page----- */

.listing{

float: left;

width:100%;

padding: 5px 0;

}

.listing .item img{

  width: 100%;

  height: 275px;

  padding: 10px;

  object-fit: cover;

}

.listing .owl-prev{

display: none;

}

.listing .panel{

  box-shadow: none;

  background: #171A2B;

  padding: 25px 35px;

}

.listing .panel .owl-dots{

display: none;

}

#list .owl-nav {

display: block

}



.popular{

float: left;

width: 100%;

}

.popular .image-wrapper img{

width: 100%;

height: 250px;

object-fit: cover;

}

.image-wrapper {

  margin: 0 auto;

  width: 100%;

  overflow: hidden;

  font-size: 0;

  margin-bottom: 25px;

}

.image-wrapper a{

float: left;

width: 100%;

position: relative;

}

.image-wrapper a::before{

  position: absolute;

  content: '';

  background: #000;

  width: 100%;

  height: 250px;

  opacity: .3;

  transform: scale(1.2);

  transition: transform 0.3s ease-in-out;

}

.image-wrapper a:hover::before{

  transition: transform 0.3s ease-in-out;

  transform: scale(1.2);

}

.image-wrapper img {

  max-width: 100%;

  transition: transform 0.3s ease-in-out;

  object-fit: cover;

}

.image-wrapper img:after{

position: absolute;

content: '';

width: 100%;

height: 250px;

}

.image-wrapper:hover img {

  transform: scale(1.2);

}

.popular h2{

font-size: 35px;

color: #000;

margin-bottom: 20px;

}

.popular .col-md-3 h5 {

float: left;

position: absolute;

bottom: 35px;

left: 30px;

color: #fff;

font-weight: bold;

font-size: 25px;

}

.popular .col-md-3  article{

  float: left;

  width: 100%;

  border: 3px solid #406A9A;

  height: 250px;

  text-align: center;

}

.popular .col-md-3 article a{

  float: left;

  width: 100%;

  height: 250px;

  text-decoration: none;

}

.popular .col-md-3 article h5{

  color: #406A9A;

  position: relative;

  bottom: 0;

  left: 0;

  float: none;

  margin-top: 93px;

  font-size: 30px;

  margin-bottom: -9px;

}

.popular .col-md-3 article h4{

  font-weight: bold;

  font-size: 29px;

  color: #406A9A;

}

.popular .nav-tabs{

border-bottom: 0;

}



.popular .nav-tabs li {



    float: none;

    width: 23%;

    background: #eee;

    text-align: center;

    border-radius: 45px;

    margin-right: 10px;

    margin-bottom: 15px;

    display: inline-block;



}

.popular .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

  color: #406A9A;

  cursor: default;

  border: 2px solid #406A9A;

  background: transparent;

  border-radius: 45px;

  font-weight: bold;

  padding: 9px;

  width: 100%;

  float: left;

}

.popular .nav-tabs > li.active {

background: transparent;

}

.popular .nav > li > a:focus, .nav > li > a:hover {



  text-decoration: none;

  background-color: transparent;

  color: #5076A0;

  border-radius: 45px;

  border: 2px solid #406A9A;

}

.popular .nav-tabs > li > a {

  margin-right: 2px;

  border: none;

  border-radius: 45px;

  color: #757575;

  font-size: 19px;

  display: inline;

  float: left;

  width: 100%;

  padding: 10px;

}

/* ------listing-page----- */

.list-hero{

width: 100%;

height: 400px;

background-position: center;

background-size: cover;

background-repeat: no-repeat;

float: left;

}

.grid-list .col-md-3 .panel{

  background: #f3f3f3;

  padding: 20px;

  border-radius: 6px;

  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

}

.grid-list .col-md-3 .panel ul{

padding-left: 0px;

}

.grid-list .col-md-3 .panel ul li{

list-style-type: none;

display: block;

}

.grid-list .col-md-3 .panel h5{

  font-size: 19px;

  color: #000;

  font-weight: bold;

  margin-bottom: 20px;

}

.grid-list .col-md-9 .col-md-4 img{

width: 100%;

height: 265px;

object-fit: cover;

border-top-left-radius: 4px;

border-bottom-left-radius: 4px;

}

.grid-list .col-md-9 .col-md-4 .yellow_btn{

  top: -8px;

  background: #FFBF00;

  width: 100px;

  height: 30px;

  z-index: 9;

  left: 28px;

  border-radius: 4px;

}

.red_btn{

  position: absolute;

  background: #FE6C6D;

  bottom: 36px;

  right: 8px;

  width: 110px;

  font-size: 14px;

  padding: 8px;

  color: #fff;

  border-radius: 4px;

  font-weight: bold;

}

.purple_btn {



  position: absolute;

  background: #D26CFC;

  bottom: 0px;

  right: 8px;

  width: 210px;

  font-size: 14px;

  padding: 8px;

  color: #fff;

  border-radius: 4px;

  font-weight: bold;



}

.grid-list .col-md-9 article{

  border: 1px dotted #ddd;

  padding: 0px 0px 2px 15px;

  height: 265px;

  

}

.grid-list .col-md-9 article h6{

  color: #000;

  font-size: 18px;

  font-weight: bold;

  letter-spacing: .5px;

  margin-top: 14px;

}

.grid-list .col-md-9 article h6 a{

color:#000;

text-decoration: none;

}

.grid-list .col-md-9 article .menu-grid {

  padding-left: 0;

  float: left;

  width: 100%;

  margin-top: 10px;

  margin-bottom: 15px;

}

.grid-list .col-md-9 article .menu-grid li{

  list-style-type: none;

  display: inline-block;

  float: left;

  border-right: 1px dotted #ddd;

  padding-right: 15px;

  padding-left: 15px;

  line-height: 1;

  color: #757575;

}

.grid-list .col-md-9 article .menu-grid li:last-child{

border-right: none;

}

.grid-list .col-md-9 article .menu-grid li img{

width: 40px;

height: 40px;

border-radius: 50%;

object-fit: cover;

margin-right: 5px;

}

.grid-list .col-md-9 article  P{

float: left;

width: 100%;

color: #757575;

font-size: 15px;

}

.grid-list .col-md-9 article .menu-grid li span{

  float: left;

  background: #F5AF05;

  color: #000;

  width: 40px;

  height: 40px;

  line-height: 2.6;

  text-align: center;

  border-radius: 50%;

  font-weight: bold;

  font-size: 15px;

}

.grid-list .col-md-9 article .menu-grid li small{

  color: #62CC81;

  font-size: 14px;

}

.grid-list .col-md-9 article .list-view {

  padding-left: 0;

}

.grid-list .col-md-9 article .list-view li{

list-style-type: none;

display: block;

text-align: center;

border:1px dotted #ddd;

line-height: 6;

}

.grid-list .col-md-9 article .list-view li a{

text-align: center;

color:#757575;

font-size: 22px;

line-height: 3.69;

}

.tab-btn a{

  color: #757575;

  background: #eee;

  text-align: center;

  padding: 17px;

  width: 100%;

  float: left;

  text-decoration: none;

  border-radius: 45px;

  margin-top: 30px;

  font-size: 19px;

}

.bread ul{

  padding: 20px 0 10px;

}

.bread ul li{

list-style-type: none;

display: inline-block !important;

}

.bread ul li a{

  color: #000;

  font-size: 14px;

  margin-right: 11px;

  text-decoration: none;

}

/* -----bread-crumb------ */

#breadcrumb {

  list-style: none;

  display: inline-block;

  width: 100%;

float: left;

padding-left: 0;

margin-bottom: 35px;

background:#eee;

}

#breadcrumb li label{

float: left;

width: 100%;

}

#breadcrumb .icon {

  font-size: 14px;

}

#breadcrumb li {

  float: left;

  width: 20%;

}

#breadcrumb li a {

  color: #757575;

  display: block;

  background: #eee;

  text-decoration: none;

  position: relative;

  height: 40px;

  line-height: 40px;

  padding: 0 10px 0 5px;

  text-align: center;

  margin-right: 23px;

}

#breadcrumb li:nth-child(even) a {

  background-color: #eee;

}

#breadcrumb li:nth-child(even) a:before {

  border-color: #eee;

  border-left-color: transparent;

}

#breadcrumb li:nth-child(even) a:after {

  border-left-color: #eee;

}

#breadcrumb li:first-child a {

  padding-left: 15px;

  -moz-border-radius: 4px 0 0 4px;

  -webkit-border-radius: 4px;

  border-radius: 4px 0 0 4px;

  background: #2980b9;

color: #fff;

}

#breadcrumb li:first-child a:before {

  border: none;

}

#breadcrumb li:first-child a:after{

  border-color: #2980b9;

  border-left-color: #2980b9;

}

#breadcrumb li:last-child a {

  padding-right: 15px;

  -moz-border-radius: 0 4px 4px 0;

  -webkit-border-radius: 0;

  border-radius: 0 4px 4px 0;

}

#breadcrumb li:last-child a:after {

  border: none;

}

#breadcrumb li a:before, #breadcrumb li a:after {

  content: "";

  position: absolute;

  top: 0;

  border: 0 solid #eee;

  border-width: 20px 10px;

  width: 0;

  height: 0;

}

#breadcrumb li a:before {

  left: -20px;

  border-left-color: transparent;

}

#breadcrumb li a:after {

  left: 100%;

  border-color: #2980b9;

  border-left-color: #eee;

}

#breadcrumb li a:hover {

  background-color: #eee;

}

#breadcrumb li:first-child a:hover{

background: #2980b9;

}

#breadcrumb li:first-child a:hover:after{

  border-left-color: #2980b9;

}

#breadcrumb li a:hover:before {

  border-color: #eee;

  border-left-color: transparent;

}

#breadcrumb li a:hover:after {

  border-left-color: #eee;

}

#breadcrumb li a:active {

  background-color: #eee;

}

#breadcrumb li a:active:before {

  border-color: #eee;

  border-left-color: transparent;

}

#breadcrumb li a:active:after {

  border-left-color: #eee;

}

/* -------dropdown---- */

#breadcrumb .dropdown-menu{

  min-width: 250px;

  padding: 20px 18px;

}

/* ------check-box----- */

/* .checkboxOverride input[type="checkbox"] {

  visibility: hidden;

}

.checkboxOverride {

  position: relative;

  width: 100%;

  padding-left: 25px;

  margin-bottom: 10px;

  font-size: 15px;

}

.checkboxOverride input[type="checkbox"]:checked + label:after {

  opacity: 1;

}

.checkboxOverride label {

  background: none repeat scroll 0 0 #EEEEEE;

  border: 1px solid #DDDDDD;

  cursor: pointer;

  height: 22px;

  left: 0;

  position: absolute;

  top: 0;

  width: 22px;

}

.checkboxOverride label:after {

  border-style: none none solid solid;

  content: "";

  height: 5px;

  left: 6px;

  opacity: 0;

  position: absolute;

  top: 7px;

  -ms-transform:rotate(-45deg); /* IE 9 */

  -webkit-transform:rotate(-45deg); /* Safari and Chrome */

  transform:rotate(-45deg);

  width: 10px;

} */

.checkbox {

  display: inline-block;

  cursor: pointer;

}

.checkbox .box {

  display: inline-block;

  width: 2rem;

  height: 2rem;

  border: 2px solid #B5B5B5;

  border-radius: 0.15rem;

  margin-bottom: -4px;

  transition: all 0.35s ease;

}

.checkbox:hover .box {

  border: 2px solid #3BB1FF;

}



.check {

  display: none;

}

.check:checked + .box {

  border: 2px solid #0070AC ;

  background: #0070AC ;

}

.check:checked + .box::after {

  content: "";

  display: block;

  width: 8px;

  height: 16px;

  border: 4px solid white;

  border-width: 0 3px 3px 0;

  border-radius: 0.1rem;

  transform: rotate(45deg);

  margin-left: 4px;

  margin-top: -1px;

}

.check:active + .box {

  box-shadow: 0 0 4px #3BB1FF;

}



.slider-labels {

  margin-top: 10px;

}



/* Functional styling;

 * These styles are required for noUiSlider to function.

 * You don't need to change these rules to apply your design.

 */

.noUi-target,.noUi-target * {

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -ms-touch-action: none;

  touch-action: none;

  -ms-user-select: none;

  -moz-user-select: none;

  user-select: none;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}



.noUi-target {

  position: relative;

  direction: ltr;

}



.noUi-base {

  width: 100%;

  height: 100%;

  position: relative;

  z-index: 1;

/* Fix 401 */

}



.noUi-origin {

  position: absolute;

  right: 0;

  top: 0;

  left: 0;

  bottom: 0;

}



.noUi-handle {

  position: relative;

  z-index: 1;

}



.noUi-stacking .noUi-handle {

/* This class is applied to the lower origin when

   its values is > 50%. */

  z-index: 10;

}



.noUi-state-tap .noUi-origin {

  -webkit-transition: left 0.3s,top .3s;

  transition: left 0.3s,top .3s;

}



.noUi-state-drag * {

  cursor: inherit !important;

}



/* Painting and performance;

 * Browsers can paint handles in their own layer.

 */

.noUi-base,.noUi-handle {

  -webkit-transform: translate3d(0,0,0);

  transform: translate3d(0,0,0);

}



/* Slider size and handle placement;

 */

.noUi-horizontal {

  height: 4px;

}



.noUi-horizontal .noUi-handle {

  width: 18px;

  height: 18px;

  border-radius: 50%;

  left: -7px;

  top: -7px;

  background-color: #345DBB;

}



/* Styling;

 */

.noUi-background {

  background: #D6D7D9;

}



.noUi-connect {

  background: #345DBB;

  -webkit-transition: background 450ms;

  transition: background 450ms;

}



.noUi-origin {

  border-radius: 2px;

}



.noUi-target {

  border-radius: 2px;

}



.noUi-target.noUi-connect {

}



/* Handles and cursors;

 */

.noUi-draggable {

  cursor: w-resize;

}



.noUi-vertical .noUi-draggable {

  cursor: n-resize;

}



.noUi-handle {

  cursor: default;

  -webkit-box-sizing: content-box !important;

  -moz-box-sizing: content-box !important;

  box-sizing: content-box !important;

}



.noUi-handle:active {

  border: 8px solid #345DBB;

  border: 8px solid rgba(53,93,187,0.38);

  -webkit-background-clip: padding-box;

  background-clip: padding-box;

  left: -14px;

  top: -14px;

}



/* Disabled state;

 */

[disabled].noUi-connect,[disabled] .noUi-connect {

  background: #B8B8B8;

}



[disabled].noUi-origin,[disabled] .noUi-handle {

  cursor: not-allowed;

}



.pagination {

  text-align: center;

  margin: 0 auto;

  width: 100%;

  margin-bottom: 30px;

}



.page {

  display: inline-block;

  padding: 13px 19px;

  margin-right: 10px;

  background: #eee;

  box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);

  font-size: .875em;

  font-weight: bold;

  text-decoration: none;

  color: #717171;

  text-shadow: 0px 1px 0px rgba(255,255,255, 1);

  border-radius: 4px;

}



.page:hover, .page.gradient:hover {

  background: #fefefe;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));

  background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);

}



.page.active {

  border: none;

  background: #04203C;

  box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);

  color: #f0f0f0;

  text-shadow: 0px 0px 3px rgba(0,0,0, .5);

}



.page.gradient {

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));

  background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);

}



.pagination.dark {

  background: #414449;

  color: #feffff;

}



.page.dark {

  border: solid 1px #32373b;

  background: #3e4347;

  box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);

  color: #feffff;

  text-shadow: 0px 1px 0px rgba(0,0,0, .5);

}



.page.dark:hover, .page.dark.gradient:hover {

  background: #3d4f5d;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));

  background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);

}



.page.dark.active {

  border: none;

  background: #2f3237;

  box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);

}



.page.dark.gradient {

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));

  background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);

}

/* --------detail-page------- */

.video{

  position: relative;

  width: 100%;

  float: left;

}

.detail .video img{

width: 100%;

height: 300px;

object-fit: cover;

}

.detail .video .vid-icon img{

  position: absolute;

  width: 53px;

  height: 35px;

  right: 15px;

  top: 250px;

}

.detail .video::before{

position: absolute;

content: "";

width: 100%;

height: 300px;

background: #000;

opacity: 0.2;

}

.detail .video article{

float: left;

width:100%;

background: #f3f3f3;

box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

padding:20px;

}

.detail .video article h5{

float: left;

width: 100%;

color: #000;

font-size: 20px;

font-weight: bold;

}

.detail .video article h5 span{

background: #2980b9;

float: right;

width: 60px;

height: 30px;

color:#fff;

border-radius:4px;

font-size: 11px;

padding: 5px;

text-align: center;

line-height: 1.7;

font-weight: bold;

}

.detail .video article ul {

padding-left: 0;

}

.detail .video article ul li{

  list-style-type: none;

  display: inline-block;

  font-size: 17px;

  color: #757575;

  margin-right: 5px;

}

.detail .video article ul li i{

font-size: 12px;

}

.overview{

float: left;

width:100%;

box-shadow: 0px 1px 2px 1px rgba(150, 150, 150, 0.22);

margin-top: 15px;

margin-bottom: 15px;

}

.overview .over-tabs li{

display: inline-block;



border-right: 1px solid #ddd;

width: 20%;

text-align: center;

}

.overview .over-tabs li.open{

border-bottom:3px solid #2980b9;

}

.overview .over-tabs li a{

color: #111;

font-size: 16px;

text-decoration:none;

float: left;

width: 100%;

padding: 15px;

}

.overview .over-tabs > li > a:hover {

  border: none;

}

.overview .over-tabs .hover{

  border-bottom: 4px solid #2980b9;

  color: #000;

}

.overview .over-tabs .open a{

color: #000;

font-weight: bold;

border:none;

padding: 15px;

}

.overview .over-tabs > li.open > a:focus, .over-tabs > li.open > a:hover{

  color: #000;

  border: none;

  text-decoration: none;

}

.overview .over-tabs{

  border-bottom: none;

  padding-left: 0px;

  margin-bottom: 0;

  height: 55px;

}

.detail .panel{

float: left;

width: 100%;

background: #f6f6f6;

padding: 20px;

box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

}

.detail  h5{

color: #000;

font-weight: bold;

font-size: 18px;

}

.detail .pd .col-md-4 h6{

color: #2980b9;

margin-bottom: 0;

margin-top: 5px;

font-size: 15px;

}

.detail .pd .col-md-4 span{

  color: #999;

  margin-top: 6px;

  float: left;

}

.detail .pd .col-md-4  p{

color: #757575;

font-size: 15px;

margin-bottom: 0px;

}

.detail .choice ul{

padding-left: 0;

}

.detail .choice ul li{

list-style-type: none;

display: inline-block;

color: #757575;

margin-right: 6px;

font-size: 16px;

}

.detail .choice ul li i{

color: #DCAC1D;

}

.event article{

  background: #fff;

  border: 1px solid #ddd;

  float: left;

  width: 100%;

  padding: 15px;

  text-align: center;

  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1),0 3px 1px -2px rgba(0,0,0,0.1),0 2px 7px 0 rgba(0,0,0,0.1);

  height: 237px;

}

.event article img{

  width: 100%;

  height: 135px;

  object-fit: cover;

}

.event article ul{

  padding-left: 0;

}

.event article ul li{

  list-style-type: none;

}

.event article ul li a{

color:#757575;

text-decoration: none;

}

.event article .add-event{

text-align: center;

float: left;

width: 100%;

height: 206px;

padding-top: 7rem;

border: 1px solid #ddd;

text-decoration: none;

}

.event article .add-event i{

color: #757575;

font-size: 20px;

}

.event article .add-event span{

  color: #757575;

  font-size: 20px;

  font-weight: bold;

  margin-top: 5px;

  float: left;

  width: 100%;

}

.review_view article{

background: #fff;

float: left;

width: 100%;

padding: 25px;

margin-bottom: 10px;

}

.review_view .tit{

  display: inline-flex;

}

.review_view .tit  h5{

  margin-left: 19px;

  margin-top: 30px;

}

.review_view article p {

  color: #000;

  font-size: 15px;

  margin-top: 16px;

  float: left;

  width: 100%;

}

.review_view article p span {

  float: left;

  width: 105px;

}

.review_view article p small {



  background: #2980b9;

  float: left;

  height: 20px;

  color: #fff;

  border-radius: 4px;

  font-size: 10px;

  padding: 3px 11px;

  text-align: center;

  line-height: 1.5;

  font-weight: bold;

  position: absolute;

  margin-top: 0px;

  margin-left: 9px;

  margin-right: 0px;



}

 .review_view .tit img{

width: 80px;

height: 80px;

border-radius: 50%;

object-fit: cover;

}

.review_user {

text-align: center;

}

.review_user .col-md-3 img{

width: 90px;

height: 90px;

border-radius: 50%;

object-fit: cover;

}

.review_user .col-md-3 h6{

color: #757575;

font-size: 18px;

}

.write_review{

  float: left;

  width: 100%;



  margin-bottom: 30px;

}

.user_profile {

float: left;

width: 100%;

background: #eee;

text-align: center;

margin-top: 58px;

padding: 15px;

}

.user_profile .panel{

background: #fff;

padding: 0;

}

.user_profile .follow{

  border-bottom: 1px solid #ddd;

  border-top: 1px solid #ddd;

}

.user_profile .follow p{

  color: #757575;

  margin-top: -11px;

font-size: 15px;

font-weight: bold;

}

.user_profile .panel h6{

  color: #2980b9;

  font-size: 16px;

}

.user_profile img{

width: 100px;

height: 100px;

border-radius: 50%;

object-fit: cover;

margin-top: 40px;

}

.user_profile ul{

padding-left: 0;

}

.user_profile ul li{

list-style-type: none;

display: inline-block;

}

.spons{

float: left;

width: 100%;

}

.spons img{

width: 100%;

height: 200px;

object-fit: cover;

}

.spons h4 {

  /* background: #F4F4F4; */

  color: #000;

  /* padding: 10px; */

  margin-top: 0;

  font-size: 15px;

  font-weight: bold;

  margin-bottom: 0;

}

.spons p{

  color: #757575;

  float: left;

}

.spons article {

  float: left;

  width: 100%;

  height: 52px;

  background: #F4F4F4;

  padding: 9px;

  margin-bottom: 10px;

}

.spons span {

  background: #2980b9;

  float: right;

  height: 24px;

  color: #fff;

  border-radius: 4px;

  font-size: 14px;

  padding: 5px 12px;

  text-align: center;

  line-height: 1.2;

  font-weight: bold;

  position: absolute;

  bottom: 70px;

  left: 21px;

}

.spons span i{

font-size: 12px;

}

.user_profile ul li a {



    float: left;

    background: #000;

    width: 35px;

    height: 35px;

    color: #fff;

    line-height: 2.5;

    font-size: 15px;





  }

  .resto-view{

  float: left;

  width: 100%;

  }

  .resto-view ul {

  padding-left:0;

  

  }

  .resto-view ul li{

  list-style-type: none;

  display: inline-flex;

  border-bottom: 1px solid #ddd;

  float: left;

  width: 100%;

  }

  .resto-view ul li:last-child{

  border-bottom: none;

  }

  .resto-view img{

    width: 48px;

    height: 48px;

    object-fit: cover;

    margin-bottom: 10px;

    margin-top: 10px;

  }

  .resto-view  h6{

    font-size: 15px;

    color: #000;

    font-weight: bold;

    margin-top: 10px;

    margin-bottom: 0;

   

  }

  .resto-view  p{

  color:#757575;

  float: left;

  }

  .resto-view article{

    width: 100%;

    padding: 5px 10px;

  }

  .resto-view span {

    background: #2980b9;

    float: right;

    height: 24px;

    color: #fff;

    border-radius: 4px;

    font-size: 12px;

    padding: 5px 13px;

    text-align: center;

    line-height: 1.2;

    font-weight: bold;

    position: relative;

    right: 0;

    margin-top: 15px;

    width: 75px;



}

.detail .form .form-control{

height: 38px;

box-shadow: none;

border-radius: 0;

}

#menu-view .item img{

width: 100%;

height: auto;

/* object-fit: cover; */

}



.resto-menu p{

color: #757575;

font-size: 14px;

}

.resto-menu small{

color: #757575;

font-size: 12px;

}

/* ------light-box-css--- */

#gallery {

  padding-top: 40px;

}

@media screen and (min-width: 991px) {

  #gallery {

    padding: 30px 30px 40px 30px;

  }

}



.img-wrapper {

  position: relative;

  margin-bottom: 15px;

  object-fit: cover;

}

.img-wrapper img {

  width: 100%;

  border-radius: 4px;

  height: 145px;

  object-fit: cover;

}



.img-overlay {

  background: rgba(0, 0, 0, 0.7);

  width: 100%;

  height: 100%;

  position: absolute;

  top: 0;

  left: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  opacity: 0;

  border-radius: 4px;

  cursor: pointer;

}

.img-overlay i {

  color: #fff;

  font-size: 3em;

}



#overlay {

  background: rgba(0, 0, 0, 0.7);

  width: 100%;

  height: 100%;

  position: fixed;

  top: 0;

  left: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 99999999;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

}

#overlay img {

  margin: 0;

  width: 80%;

  height: auto;

  -o-object-fit: contain;

     object-fit: contain;

  padding: 5%;

}

@media screen and (min-width: 768px) {

  #overlay img {

    width: 60%;

  }

}

@media screen and (min-width: 1200px) {

  #overlay img {

    width: 50%;

  }

}



#nextButton {

  color: #fff;

  font-size: 2em;

  transition: opacity 0.8s;

  cursor: pointer;

}

#nextButton:hover {

  opacity: 0.7;

}

@media screen and (min-width: 768px) {

  #nextButton {

    font-size: 3em;

  }

}



#prevButton {

  color: #fff;

  font-size: 2em;

  transition: opacity 0.8s;

  cursor: pointer;

}

#prevButton:hover {

  opacity: 0.7;

}

@media screen and (min-width: 768px) {

  #prevButton {

    font-size: 3em;

  }

}



#exitButton {

  color: #fff;

  font-size: 2em;

  transition: opacity 0.8s;

  position: absolute;

  top: 15px;

  right: 15px;

  cursor: pointer;

}

#exitButton:hover {

  opacity: 0.7;

}

@media screen and (min-width: 768px) {

  #exitButton {

    font-size: 3em;

  }

}

/* -----rating-star----- */

.star-rating {

  border: 0;

  display: flex; 

  flex-direction: row-reverse;

  font-size: 1.8em;

  justify-content: auto;

  text-align: center;

  width: 4em;

  margin-top: 5px;

}



.star-rating input {

	display: none;

}



.star-rating label {

	color: rgb(128, 128, 128);

	cursor: pointer;

}



.star-rating :checked ~ label {

	color: rgb(255, 212, 59);

}



.star-rating :hover ~ label {

	color: rgb(250, 176, 5);

}

/* ------signup---- */

.signup{

float: left;

width: 100%;

}

.bg-signup{

  float: left;

  width: 100%;

  text-align: center;

  /*background: #254E7F;*/

  color: #fff;

  padding: 25px;

  height: 305px;

  background-repeat: no-repeat;

background-position: 100%;

background-size: cover;

}

.bg-signup h2{

color: #fff;

font-size: 30px;

}

.bg-signup p{

font-size: 16px;

color:#fff;

}

.signup .panel{

float: left;

width:100%;

box-shadow: none;

border: none;

margin-bottom: 110px;

}

.signup .form{

  width: 32%;

  margin: 0 auto;

  background: #fff;

  border: 1px solid #eee;

  padding: 35px;

  box-shadow: 0px 1px 2px 1px rgba(150, 150, 150, 0.22);

  margin-top: -157px;

}

.signup .form .col-md-6 a{

  float: right;

  margin-top: 11px;

}

.signup .form h4{

  text-align: center;

  margin-bottom: 20px;

 color:#000;

 font-weight: bold;  

}

.signup .form .form-control{

border:none;

border: 1px solid #ddd;

box-shadow: none;

height: 37px;

}

.signup .checkboxOverride label::after {

  border-style: none none solid solid;

  content: "";

  height: 5px;

  left: 3px;

  opacity: 0;

  position: absolute;

  top: 5px;

}

/*------welcome------*/

.welcome{

float: left;

width: 100%;

text-align: center;

padding: 5rem 25rem;

}

.welcome .panel{

box-shadow: none;

}

.welcome .panel h4{

color: #000;

font-size: 23px;

margin-bottom: 5px;

font-weight: bold;

}

.welcome .panel article{

float: left;

width: 100%;

border: 1px solid #ddd;

padding: 20px;

border-radius: 5px;

height: 110px;

margin-bottom: 10px;

}

/*.welcome .panel article div{

display: inline-flex;

}*/

.welcome .panel article div img{

width: 30px;

float: right;

margin-top: 9px;

margin-top: 17px;

}

.welcome .panel article h5{

text-align: left;

color: #000;

font-size: 14px;

font-weight: bold;

margin-bottom: 5px;

margin-top: 17px;

}

.welcome .panel article span{

text-align: left; 

float: left;

color: #999;

font-size: 12px;

}

.welcome .panel article .click h5{

margin-top: 22px;

}

.welcome .panel article .click img{

margin-top: 22px;

}

/*------update_logo*/

.uploadOuter {

  text-align: center;

  padding: 20px;

}

.uploadOuter strong {

  padding: 0 10px;

}

.dragBox {



    width: 250px;

    height: 150px;

    margin: 0 auto;

    position: relative;

    text-align: center;

    font-weight: bold;

    line-height: 145px;

    color: #999;

    border: 2px dashed #ccc;

    display: inline-block;

    transition: transform 0.3s;

    background: #eee;



}

.dragBox input[type="file"] {

  position: absolute;

  height: 100%;

  width: 100%;

  opacity: 0;

  top: 0;

  left: 0;

}

.draging {

  transform: scale(1.1);

}

#preview {

  text-align: center;

}

#preview img {

  max-width: 100%;

}

.update_log{

float: left;

width: 100%;

padding: 5rem;

}

.update_log .panel{

float: left;

width: 100%;

box-shadow: none;



}

.update_log .panel .uploader{

  width: 50%;

  margin: 0 auto;

  border: 1px solid #ddd;

  padding: 20px;

}

.update_log .panel  img{

width: 140px;

}

.update_log .panel .uploader .btn{

float: right;

margin-right: 24px;

margin-top: 20px;

}

.update_log .panel .info_uploader .tab-content{

  margin-top: 25px;

}

.update_log .panel .uploader .col-md-6 a{

  float: left;

  margin-top: 10px;

  margin-left: 34px;

/* color: #04203C; */

}



.avatar-upload {

  position: relative;

  max-width: 205px;

  /* margin: 5px auto; */

}

.avatar-upload .avatar-edit {

  position: absolute;

  right: 12px;

  z-index: 1;

  top: 10px;

}

.avatar-upload .avatar-edit input {

  display: none;

}

.avatar-upload .avatar-edit input + label {

  display: inline-block;

  width: 34px;

  height: 34px;

  margin-bottom: 0;

  border-radius: 100%;

  background: #426B9C;

  border: 1px solid transparent;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

  cursor: pointer;

  font-weight: normal;

  transition: all 0.2s ease-in-out;

}

.avatar-upload .avatar-edit input + label:hover {

  background: #f1f1f1;

  border-color: #d6d6d6;

}

.avatar-upload .avatar-edit input + label:after {

  content: "\f040";

  font-family: 'FontAwesome';

  color: #fff;

  position: absolute;

  top: 8px;

  left: 0;

  right: 0;

  text-align: center;

  margin: auto;

}

.avatar-upload .avatar-preview {

  width: 100%;

  height: 160px;

  position: relative;

  border-radius: 0;

  border: 6px solid #F8F8F8;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

}

.avatar-upload .avatar-preview > div {

  width: 100%;

  height: 100%;

  border-radius: 0;

  background-size: cover;

  background-repeat: no-repeat;

  background-position: center;

}

/* -----------------------------------------------------

  CSS Progress Bars

-------------------------------------------------------- */

.cssProgress {

  width: 100%;

  margin-bottom: 20px;

  margin-top: 12px;

}

.cssProgress .progress1,

.cssProgress .progress2,

.cssProgress .progress3 {

  position: relative;

  overflow: hidden;

  width: 100%;

  font-family: "Roboto", sans-serif;

}

.cssProgress .cssProgress-bar {

  display: block;

  float: left;

  width: 0%;

  height: 100%;

  background: #3798d9;

  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);

  transition: width 0.8s ease-in-out;

}

.cssProgress .cssProgress-label {

  position: absolute;

  overflow: hidden;

  left: 0px;

  right: 0px;

  color: rgba(0, 0, 0, 0.6);

  font-size: 0.7em;

  text-align: center;

  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);

}

.cssProgress .cssProgress-info {

  background-color: #9575cd !important;

}

.cssProgress .cssProgress-danger {

  background-color: #ef5350 !important;

}

.cssProgress .cssProgress-success {

  background-color: #6E97C8 !important;

}

.cssProgress .cssProgress-warning {

  background-color: #ffb74d !important;

}

.cssProgress .cssProgress-right {

  float: right !important;

}

.cssProgress .cssProgress-label-left {

  margin-left: 10px;

  text-align: left !important;

}

.cssProgress .cssProgress-label-right {

  margin-right: 10px;

  text-align: right !important;

}

.cssProgress .cssProgress-label2 {

  display: block;

  margin: 2px 0;

  padding: 0 8px;

  font-size: 0.8em;

}

.cssProgress .cssProgress-label2.cssProgress-label2-right {

  text-align: right;

}

.cssProgress .cssProgress-label2.cssProgress-label2-center {

  text-align: center;

}

.cssProgress .cssProgress-stripes,

.cssProgress .cssProgress-active,

.cssProgress .cssProgress-active-right {

  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);

  background-size: 35px 35px;

}

.cssProgress .cssProgress-active {

  -webkit-animation: cssProgressActive 2s linear infinite;

  animation: cssProgressActive 2s linear infinite;

}

.cssProgress .cssProgress-active-right {

  -webkit-animation: cssProgressActiveRight 2s linear infinite;

  animation: cssProgressActiveRight 2s linear infinite;

}

@-webkit-keyframes cssProgressActive {

  0% {

    background-position: 0 0;

  }

  100% {

    background-position: 35px 35px;

  }

}

@keyframes cssProgressActive {

  0% {

    background-position: 0 0;

  }

  100% {

    background-position: 35px 35px;

  }

}

@-webkit-keyframes cssProgressActiveRight {

  0% {

    background-position: 0 0;

  }

  100% {

    background-position: -35px -35px;

  }

}

@keyframes cssProgressActiveRight {

  0% {

    background-position: 0 0;

  }

  100% {

    background-position: -35px -35px;

  }

}

/* -----------------------------------------------------

  Progress Bar 2

-------------------------------------------------------- */

.progress2 {

  background-color: #EEE;

  border-radius: 9px;

  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);

}

.progress2 .cssProgress-bar {

  height: 15px;

  border-radius: 9px;

}

.progress2 .cssProgress-label {

  line-height: 14px;

  color: #fff;

}

.info_uploader{

  width: 80%;

  margin: 0 auto;

  border: 1px solid #ddd;

  padding: 20px;

}

.info_uploader h4{

  font-weight: bold;

}

.info_uploader .col-md-2 img {

    width: 85px;

    position: relative;

    text-align: center;

    margin-top: 25rem;

}

.info_uploader .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{

  background: #406A9A;

  color: #fff;

  border-radius: 0px; 

  font-weight: normal;

  padding: 10px 15px;

}

.info_uploader .nav > li > a:focus, .nav > li > a:hover{

border-radius: 0px;

border: none; 

}

.info_uploader .nav-tabs > li > a{

  color: #747474;

}

.info_uploader .nav-tabs {

  margin-bottom: 10px;

  border-bottom: none;

  background: #efefef;

}

.styled-select {

  border: 1px solid #ccc;

  box-sizing: border-box;

  border-radius: 3px;

  overflow: hidden;

  position: relative;

}

.styled-select, .styled-select select { 

  width: 100%;

  color: #999;

}

select:focus { outline: none; }

.styled-select select {

  height: 34px;

  padding: 5px 0 5px 5px;

  background: transparent;

  border: none;

  

  /*hide default down arrow in webkit */

  -webkit-appearance: none; 

}



@-moz-document url-prefix(){

  .styled-select select { 

    width: 100%;

    color: 999999; 

  }

}



.fa-sort-desc {

  position: absolute;

  top: 6px;

  right: 12px;

  font-size: 16px;

}



 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/



/* hack to fall back in opera */

_:-o-prefocus, .selector {

  .styled-select { background: none; }

  }

  /*-----profile*/

  /* .profile .panel{

  background: #F8F8F8;

  padding: 15px;

  float: left;

  width: 100%;

  } */

  /* .profile .col-md-9 .col-md-9 .panel {

    background: #fff;

    box-shadow: none;

    float: left;

    width: 100%;

    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.0);

} */

.profile .col-md-9 .col-md-9 .panel h5{

    color: #000;

    font-weight: bold;

    font-size: 18px;

}

.profile .col-md-9  .col-md-6 span{

float: left;

width: 100%;

color: #999;

}

.profile .panel .user_img {

background: #fff;

width: 100%;

float: left;

text-align: center;

padding: 12px;

box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

}

  .profile .panel .user_img img{

  width: 135px;

  }

  .profile .col-md-3 .panel  h5{

  color: #000;

  font-weight: bold;

  float: left;

  width: 100%;

  margin-bottom: 3px;

  margin-top: 14px;

  }

  .profile .col-md-3 .panel span{

  font-size: 13px;

  color: #585858;

  float: left;

  width: 100%;

  margin-bottom: 8px;

  font-weight: bold;

  }

  .profile .col-md-3 .panel ul{

  padding-left: 0px;

  }

  .profile .col-md-3 .panel li{

    list-style-type: none;

  display: inline-block;

  }

  .profile .col-md-3 .panel li i{

  background: #4064AD;

  width: 30px;

  height: 30px;

  text-align: center;

  font-size: 15px;

  color: #fff;

  border-radius: 50%;

  line-height: 1.9;

  }

  #profile .owl-nav .owl-next span{

    background: #0070AC !important;

    color: #fff;

    top: 26%;

  }

 

#profile .owl-nav {

  display: block;

}

#profile .owl-dots{

    display: none;

}

#profile  .owl-nav .owl-prev {

display: none;

}

#profile .item img {

  width: 100px;

  object-fit: cover;

  height: 100px;

  padding: 10px;

  background: #eee;

  border-radius: 50%;

}

/* -----dashboard---- */

.dashboard  .col-md-2 .panel{

border-radius: 0;

padding: 0;

}

.white-box{

  float: left;

  width:100%;

  background: #fff;

  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

  padding: 15px;

}

.grey-box{

  background: #F8F8F8;

  float: left;

  width: 100%;;

  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

  padding:15px;

}

.dashboard .col-md-2 ul{

padding-left: 0;

float: left;

width: 100%;

margin-bottom: 0;

}

.dashboard .col-md-2 ul li{

list-style-type: none;

display: block;

/* padding: 11px 12px; */

float: left;

width: 100%;

border-bottom: 1px solid #e4e4e4;

}

.dashboard .col-md-2 ul li.active{

  border-left: 3px solid #416A9B;

}

.dashboard .col-md-2 ul li:last-child{

  border-bottom:none;

}

.dashboard .col-md-2 ul li a {

  color: #565656;

  font-size: 13px;

  float: left;

width: 100%;

text-decoration: none;

padding: 15px 9px;

}

.dashboard .col-md-2 ul li a i{

float:right;

}

/* .dashboard .col-md-10 .panel{

background: #eee;

padding: 20px;

} */

.dashboard .col-md-10 .col-md-8 h5{

color: #000;

font-size: 20px;

font-weight: bold;

}





.wrap {

  margin: 0 auto;

  padding: 50px;

  max-width: 1200px;

}

/* Bar Graph Class */

.barGraph {

  position: relative;

  width: 100%;

  height: auto;

  margin-bottom: 20px;

  float: left;

background: #fff;

padding: 19px;

box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

}

.barGraph h5{

  border-bottom: 1px solid #ddd;

line-height: 2;

margin-top: 0;

font-weight: bold;

}

.graph {

  position: relative;

  list-style-type: none;

  padding: 0;

  margin: 0;

  width: calc(100% - 4%);

  left: 13%;

  width: 80%;

}

.graph-barBack {

  border-radius: 2px;

  background: #DAE4EB;

  margin-bottom: 10px;

  display: block;

}

.graph-bar {

  background-color: #416A9B;

  -webkit-transition: all 1s ease-out;

  -moz-transition: all 1s ease-out;

  -o-transition: all 1s ease-out;

  transition: all 1s ease-out;

  border-radius: 2px;

  cursor: pointer;

  margin-bottom: 10px;

  position: relative;

  z-index: 9999;

  display: block;

  height: 13px;

  width: 0%;

}

.graph-bar:hover {

  -webkit-transition: all 0.5s ease;

  -moz-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;

  background: #428D92;

}

.graph-bar:last-child {

  margin-bottom: 0;

}

.graph-bar:after {

  position: absolute;

  content: attr(data-value);

  display: none;

  font-size: 12px;

  border-radius: 4px;

  background: rgba(0, 0, 0, 0.5);

  color: #fff;

  line-height: 20px;

  height: 20px;

  padding: 0 10px;

  margin-left: 5px;

  left: 100%;

  top: 0;

}

.graph-bar:hover:after {

  display: block;

}

.graph-legend {

  position: absolute;

  margin-right: 10px;

  left: -40px;

  z-index: 9999;

}

/* Bubble Chart */

.chart {

  border-radius: 3px;

  border: 2px solid rgba(113, 125, 149, 0.45);

  position: relative;

  overflow: hidden;

  width: 100%;

  height: 300px;

}

.chart-bubble {

  overflow: hidden;

  background-color: #59BAC0;

  -webkit-transition: all 1s ease-out;

  -moz-transition: all 1s ease-out;

  -o-transition: all 1s ease-out;

  transition: all 1s ease-out;

  position: absolute;

  border-radius: 100%;

  cursor: pointer;

  display: block;

  min-height: 10px;

  min-width: 10px;

  z-index: 999;

  bottom: 0;

  left: 0;

}

.chart-bubble:hover {

  -webkit-transition: all 0.5s ease;

  -moz-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;

  background: #428D92;

}

.chart-bubble:after {

  position: absolute;

  content: attr(data-label);

  display: none;

  width: 100%;

  height: 100%;

  text-align: center;

  padding-top: 50%;

  line-height: 1px;

  font-size: 15px;

  color: #fff;

}

.chart-bubble:hover:after {

  display: block;

}

/* Lines for Charts */

.lines {

  position: absolute;

  height: 100%;

  width: 100%;

  z-index: 0;

  left: 0;

  top: 0;

}

.lines-horz {

  border-bottom: 1px dashed rgba(113, 125, 149, 0.4);

  position: absolute;

  width: 100%;

  height: 0px;

}

.lines-horz:nth-of-type(1) {

  top: 20%;

}

.lines-horz:nth-of-type(2) {

  top: 40%;

}

.lines-horz:nth-of-type(3) {

  top: 60%;

}

.lines-horz:nth-of-type(4) {

  top: 80%;

}

.lines-vert {

  border-right: 1px dashed rgba(113, 125, 149, 0.4);

  position: absolute;

  height: 100%;

  width: 1px;

}

.lines-vert:nth-of-type(5) {

  left: 20%;

}

.lines-vert:nth-of-type(6) {

  left: 40%;

}

.lines-vert:nth-of-type(7) {

  left: 60%;

}

.lines-vert:nth-of-type(8) {

  left: 80%;

}

/* Line Graph */

.lineChart {

  -webkit-transition: all 0.5s ease;

  -moz-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;

  border-radius: 3px;

  border: 2px solid rgba(113, 125, 149, 0.45);

  position: relative;

  overflow: hidden;

  width: 100%;

  height: 300px;

}

.lineChart svg {

  position: absolute;

  z-index: 999;

}

.lineChart circle {

  -webkit-transition: all 0.5s ease;

  -moz-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;

  position: relative;

  cursor: pointer;

  stroke: #59BAC0;

  stroke-width: 3;

  fill: #59BAC0;

}

.lineChart circle:hover {

  stroke-width: 8;

}

.lineChart line {

  stroke: #717D95;

  stroke-width: 4;

}

.trend line {

  stroke: rgba(204, 51, 51, 0.8);

}

.wrapper {

  padding: 27px 15px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background: #fff;

  float: left;

width: 100%;

box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);

}

.wrapper h5{

  border-bottom: 1px solid #ddd;

line-height: 2;

margin-top: 0;

font-weight: bold;

}

#canvas {

  display: block;

  margin: 0 auto;

  width: 100% !important;

height: 185px !important;

/* margin-top: 18px !important; */

}

#dashboard .owl-nav .owl-next span {

  background: #0070AC !important;

  color: #fff;

margin-top: -38px;

 



}

#dashboard .owl-nav {

display: block;

}

#dashboard  .owl-nav .owl-prev {

display: none;

}

#dashboard .item article{

  background: #fff;

  padding: 16px;

  float: left;

  width: 100%;

  text-align: center;

}

#dashboard .item article h4{

  font-size: 30px;

  margin-top: 3px;

  color: #898989;

  font-weight: 500;

}

#dashboard .item article h5{

  font-weight: normal;

    font-size: 18px;

    text-transform: uppercase;

}

#dashboard .owl-carousel .owl-item{

margin-right: 0px !important;

}

.dashboard .noti{

  float: left;

  width: 100%;

  background: #fff;

}

.dashboard .noti h5{

  font-size: 17px !important;

  padding: 5px 15px;

}

.dashboard .noti h5 span{

  float: right;

  background: #416A9B;

  color: #fff;

  font-size: 14px;

  width: 60px;

  text-align: center;

  height: 20px;

  line-height: 1.5;

  border-radius: 25px;

}

.dashboard .noti .panel {

border-radius: 0px;

background: #f7f7f7;

float: left;

width:100%;

padding: 0px;

margin-bottom: 0px;

overflow-y: scroll;

height: 320px;

scrollbar-width: thin;

}

.dashboard .noti .panel .col-md-2 img {

  width: 80px;

  height: 80px;

  object-fit: cover;

  border-radius: 50%;



}

.dashboard .noti .panel  ul{

padding-left: 0px;

}

.dashboard .noti .panel  ul li{

list-style-type: none;

float: left;

width: 100%;

/* margin-bottom: 10px; */

padding: 12px 0px 0px 0px;

}

.dashboard .noti .panel  ul li.even{

background: #fff;

}

.dashboard .noti .panel h6{

  font-size: 17px;

  color: #000;

  font-weight: bold;

  margin-bottom: 2px;

}

.dashboard .noti .panel .fa-star{

font-size: 14px;

margin-right: 5px;

}

.dashboard .noti .panel P{

color: #757575;

font-size: 12px;

}

.dashboard .noti .panel .col-md-4 p{

  margin-top: 13px;

  text-align: right;

}

.manage_product h5{

  font-size: 19px;

  color: #000;

}

/* .manage_product .btn{

  position: absolute;

  right: 20px;

  top: 66px;

} */

#example_filter{

float: right;

}

#example_paginate {

float: right;

}

.table-bordered > tbody > tr > td{

text-align: center;

}

.table-bordered > tbody > tr > td:first-child{

text-align: left;

}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th:first-child{

text-align: left;

}

.table-bordered > tbody > tr > td img{

width: 40px;

height: 40px;

border-radius: 50%;

object-fit: cover;

}

.table-bordered > tbody > tr > td .checkboxOverride{

  text-align: left;

  display: inline-flex;

  width: auto;

  margin-top: 13px;

}

.table-bordered > tbody > tr > td .checkboxOverride label {

  left: 15px;

  width: 15px;

  height: 15px;

  top: 3px;

}

.table-bordered > tbody > tr > td .checkboxOverride label:after{

  left: 2px;

  top: 3px;

}

.table-bordered > tbody > tr > td i {

  background: #337ab7;

  color: #fff;

  width: 25px;

  height: 25px;

  text-align: center;

  border-radius: 50%;

  line-height: 1.8;

  font-size: 13px;

}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th{

text-align: center;

}

.white-box::-webkit-scrollbar {

  height: 16px !important;

  overflow: visible !important;

  width: 10px !important;

  }

  .white-box::-webkit-scrollbar-thumb {

    background: -webkit-linear-gradient(left, rgba(198,198,198,1) 0%,rgba(220,220,220,1) 100%) !important;

    background-clip: padding-box !important;

    border: 2px solid transparent !important;

    border-image: initial !important;

    min-height: 28px !important;

    padding: 100px 0px 0px !important;

    /*box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px inset, rgba(0, 0, 0, 0.0666667) 0px -1px 0px inset !important;*/

    }

    /*******************************

* MODAL AS LEFT/RIGHT SIDEBAR

* Add "left" or "right" in modal parent div, after class="modal".

* Get free snippets on bootpen.com

*******************************/

	.modal.left .modal-dialog,

	.modal.right .modal-dialog {

		position: fixed;

		margin: auto;

		width: 510px;

		height: 100%;

		-webkit-transform: translate3d(0%, 0, 0);

		    -ms-transform: translate3d(0%, 0, 0);

		     -o-transform: translate3d(0%, 0, 0);

		        transform: translate3d(0%, 0, 0);

	}



	.modal.left .modal-content,

	.modal.right .modal-content {

		height: 100%;

    overflow-y: auto;

    border-radius: 0px;

	}

	

	.modal.left .modal-body,

	.modal.right .modal-body {

		padding: 15px 15px 80px;

	}



/*Left*/

	.modal.left.fade .modal-dialog{

		left: -320px;

		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;

		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;

		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;

		        transition: opacity 0.3s linear, left 0.3s ease-out;

	}

	

	.modal.left.fade.in .modal-dialog{

		left: 0;

  }

  .copyright {

    display:block;

    margin-top: 100px;

    text-align: center;

    font-family: Helvetica, Arial, sans-serif;

    font-size: 12px;

    font-weight: bold;

    text-transform: uppercase;

  }

  .copyright a{

    text-decoration: none;

    color: #EE4E44;

  }

  

/****** CODE ******/



.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}

.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}

.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}

.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}

.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}

.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}

.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}

.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}

.file-upload .file-select.file-select-disabled{opacity:0.65;}

.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}

.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}

.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}  



/* ------image-page---- */

.image-pg{

float: left;

width: 100%;

/* padding: 3rem 0; */

}

.image-pg .owl-item .tab-btn a{

  font-size: 15px;

  width:215px;

}

.image-pg .owl-item .item{

  height: 100px;

}

#image-pg .owl-nav {

display: block;

}

#image-pg .owl-nav span{

  top: 23%;

}

.image-pg .nav-tabs{

border: none;

}

/* -----grid---- */

#pinBoot {

  position: relative;

  max-width: 100%;

  width: 100%;

}

#pinBoot img {

  width: 100%;

  max-width: 100%;

  height: auto;

}

.white-panel {

  position: absolute;

  background: white;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

  padding: 10px;

}

/*

stylize any heading tags withing white-panel below

*/



.white-panel h1 {

  font-size: 1em;

}

.white-panel h1 a {

  color: #A92733;

}

.white-panel:hover {

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

  margin-top: -5px;

  -webkit-transition: all 0.3s ease-in-out;

  -moz-transition: all 0.3s ease-in-out;

  -o-transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;

}

/* -----location--page---- */

.location_pg{

  float: left;

  width: 100%;

  /* padding: 3rem 0px;

  padding-bottom: 0px; */

}

.location_pg .col-md-4 img{

width: 100%;

height: 300px;

object-fit: cover;

}

.location_pg .col-md-4 blockquote{

  font-size: 14px;

  border-left: 3px solid #416A9B;

  margin-top: 15px;

}

.location_pg .col-md-3 ul {

  padding-left: 0;

  float: left;

  width: 100%;

  margin-bottom: 0;



}

.location_pg .col-md-3 .white-box {

margin-bottom: 30px;

}

.location_pg .col-md-3 .white-box table tr td{

font-size: 12px;

padding: 5px 0px;

}

.location_pg .col-md-3 .white-box table tr td strong{

color:#022852;

}

.location_pg .col-md-3 .white-box h5{

background: #7DA3CD;

padding: 5px;

color: #000;

}

.location_pg .col-md-3 .white-box img{

width: 100%;

height: 150px;

object-fit: cover;

}

.location_pg .col-md-3 ul li.active {

  border-left: 3px solid #416A9B;

}

.location_pg .col-md-3 ul li {

  list-style-type: none;

  display: block;

  float: left;

  width: 100%;

  border-bottom: 1px solid #e4e4e4;

}

.location_pg .col-md-3 ul li a {

  color: #828282;

  font-size: 13px;

  float: left;

  width: 100%;

  text-decoration: none;

  padding: 15px 9px;



}

.location_pg .col-md-3 ul li a img{

  width: 20px;

margin-right: 8px;

}

.location_pg .grey-box{

padding: 0;

}

.location_pg .col-md-3 ul li a i {

    float: right;

}

.location_pg .like .col-md-3 img{

 width: 100%;

 height: 200px;

 object-fit: cover;

}

.location_pg .like h4{

color: #000;

font-weight: bold;

}

.location_pg .like .col-md-3 h5{

  background: #212122;

  color: #fff;

  padding: 13px;

  font-size: 15px;

  font-weight: bold;

  margin: 0;

}

.like{

background: #eee;

padding: 50px 0px;

margin-top: 40px;

}

.cate-menu{

float: left;

width: 100%;

padding-bottom: 35px;

}

.cate-menu .white-box ul li{

list-style-type: none;

display: inline-block;

text-align: center;

}

.cate-menu .white-box  ul {

padding-left: 0px;

}

.cate-menu .white-box  ul li a{

width: 135px;

float: left;

text-decoration: none;

color: #999;

}

.cate-menu .white-box ul li a img{

  width: 50px;

  height: 50px;

  object-fit: contain;

  border: 2px solid #ddd;

  border-radius: 50%;

  padding: 3px 4px

}

.cate-menu h5{

  border-bottom: 1px solid #eee;

  text-align: center;

  line-height: 2;

  padding-bottom: 10px;

  font-size: 16px;

} 

.cate-menu h6{

  margin-top: 18px;

  margin-bottom: 40px;

  color: #7E7E7E;

}

.contact{

float: left;

width: 100%;

padding: 0rem 0px 4rem;

}

.contact h5{

  color: #416A9B;

font-size: 20px;

}

.contact ul{

padding-left: 0px;

}

.contact ul li{

list-style-type: none;

display: block;

color: #999;

line-height: 2;

}

.contact .form-control{

height: 38px;

}

.contact label{

font-weight: normal;

font-size: 13px;

}

.contact h6{

  color: #416A9B;

  font-size: 15px;

  font-weight: bold;

}

/* ----about-us---- */

.about{

float: left;

width: 100%;

background: #fff;

/* padding: 3rem 0px; */

}

.about .col-md-4 img{

width: 100%;

height: 250px;

}

/* .about .col-md-4 img{

  width: 200px;

  height: 300px;

  object-fit: cover;

  border-radius: 50%;

} */

.about .col-md-6 .col-md-4 img{

width: 127px;

height: 120px !important;

object-fit: cover;

display: block;

margin-left: 0px;

margin-top: -1px;

}

.news{

background: #fff;

padding-top: 0;

}

.about .col-md-4 {

margin-bottom: 20px;

}

.about .col-md-3 img{

width: 100%;

height: 200px;

object-fit: cover;

}

.about .col-md-9 h5{

  color: #416A9B;

  font-weight: bold;

  font-size: 15px;

}

.about .white-box{

margin-bottom: 15px;

}

.about .col-md-6 article{

  background: #efefef;

  padding: 12px;

}

.about .col-md-6 article h5{

  color: #04203C;

  text-transform: capitalize;

  font-weight: bold;

}

.about .col-md-6 article h6{

  color: #797979;

  font-size: 19px;

}

.about .col-md-6 article small{

  margin-top: -8px;

  float: left;

  width: 100%;

}

.about .col-md-6 article h4 {

  color: #2E2E2E;

  margin-top: 8px;

  font-weight: bold;

}

.about .col-md-6 article{

margin-bottom: 10px;

}

.about .col-md-6 article ul li {

  list-style-type: none;

  display: inline-block;

}

.about .col-md-6 article ul {

  padding-left: 0px;

}

.about .col-md-6 article ul li i {

  color: #FFBF00;

  font-size: 16px;

}

.inner-detail {

float: left;

width: 100%;

padding-bottom: 20px;

}

.inner-detail h4{

  color: #2E2E2E;

  margin-top: 8px;

  font-weight: bold;

}

.inner-detail img{

  width: 100%;

  height: 250px;

  object-fit: cover;

}

.inner-detail ul {

  padding-left: 0px;

}

.inner-detail .white-box ul li i{

  color: #FFBF00;

font-size: 16px;

}

.inner-detail  ul li {

  list-style-type: none;

  display: inline-block;

}

.user-profile .col-md-3 img{

width: 100%;

height: 300px;

}

.result ul{

  padding-left: 0px;

}

.result ul li{

list-style-type: none;

display: block;

}



.autocomplete {

  position: relative;

  display: inline-block;

}



input {

  border: 1px solid transparent;

  background-color: #f1f1f1;

  padding: 10px;

  font-size: 16px;

}

.autocomplete-items {

  position: absolute;

  border: 1px solid #d4d4d4;

  border-bottom: none;

  border-top: none;

  z-index: 99;

  /*position the autocomplete items to be the same width as the container:*/

  top: 100%;

  left: 0;

  right: 0;

}

.autocomplete-items div {

  padding: 10px;

  cursor: pointer;

  background-color: #fff; 

  border-bottom: 1px solid #d4d4d4; 

  text-align: left;

  line-height: 1.5;

}

/*when hovering an item:*/

.autocomplete-items div:hover {

  background-color: #e9e9e9; 

}



/*when navigating through the items using the arrow keys:*/

.autocomplete-active {

  background-color: DodgerBlue !important; 

  color: #ffffff; 

}

#rating i{

  color: #FFBF00;

  font-size: 16px;

}