@media only screen and (max-width: 768px) {
.header{
	display: none;
}
.page-wrapper{
display: block !important;
}
/* .page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #e1e1e1;
} */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.top-nav ul{
padding-left: 0px;
}
.top-nav ul li{
list-style-type: none;
display: inline-block;
}
/* .top-nav .toggler-container {
  position: relative;
  width: 60px;
  padding: 10px;
  float: right;
} */
.top-nav .toggler-container {
  position: absolute;
  width: 60px;
  padding: 10px;
  right: 0;
  top: 0px;
}
.top-nav .toggler-container .hamburger {
  width: 40px;
  height: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  float: right;
  margin-top: 9px;
}
.top-nav .toggler-container .hamburger:focus {
  outline: none;
}
.top-nav .toggler-container .hamburger:hover {
  transition: all 0.2s ease-in-out;
}
.top-nav .toggler-container .hamburger:hover .line:nth-child(1) {
  width: 100%;
}
.top-nav .toggler-container .hamburger:hover .line:nth-child(2) {
  width: 100%;
}
.top-nav .toggler-container .hamburger:hover .line:nth-child(3) {
  width: 100%;
}
.top-nav .toggler-container .hamburger .line {
  transition: all 0.2s ease-in-out;
  height: 2px;
  margin: 3px 0;
  border-radius: 5px;
  background: #416A9B;
}
.top-nav .toggler-container .hamburger .line:nth-child(1) {
  width: 100%;
}
.top-nav .toggler-container .hamburger .line:nth-child(2) {
  width: 80%;
}
.top-nav .toggler-container .hamburger .line:nth-child(3) {
  width: 60%;
}

.side-wrapper {
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  width: 100%;
  opacity: 0;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.side-wrapper.opened {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  pointer-events: auto;
}
.hero{
float: left;
}
.side-wrapper .side-content {
  transition: all 0.2s ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 0;
  max-width: 240px;
  width: 100%;
  background: #f1f1f1;
  box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.15);
}
.side-wrapper .side-content.slideIn {
  transition: all 0.2s ease-in-out;
  transform: translateX(0);
}
.side-wrapper .side-content .close-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.side-wrapper .side-content .close-btn:focus {
  outline: none;
}
.side-wrapper .side-content .close-btn:hover {
  transition: all 0.2s ease-in-out;
}
.side-wrapper .side-content .close-btn:hover .line:nth-child(1) {
  transform: rotate(0) translate(-5px, 8px);
}
.side-wrapper .side-content .close-btn:hover .line:nth-child(2) {
  transform: rotate(0) translate(-5px, 0);
}
.side-wrapper .side-content .close-btn .line {
  transition: all 0.2s ease-in-out;
  height: 2px;
  width: 100%;
  margin: 3px 0;
  border-radius: 5px;
  background: coral;
}
.side-wrapper .side-content .close-btn .line:nth-child(1) {
  transform: rotate(45deg) translate(1px, 10px);
}
.side-wrapper .side-content .close-btn .line:nth-child(2) {
  transform: rotate(-45deg) translate(-5px, -5px);
}
.logo img{
  width: 130px;
  padding: 9px;
  margin-top: -5px;
}
#menu{
  left: -103px;
  top: 54px;
}
#toggle{
float: right !important;
margin-top: 21px !important;
margin-left: 115px !important;
}
.side-content ul {
  padding-left: 0;
  }
  .side-content ul li{
  list-style-type: none;
  display: block;
  padding: 10px;
  float: left;
  width: 100%;
  }
  .side-content ul li a{
  color: #000;
  
  
  text-decoration: none;
  }
  .side-content .form-control{
  height: 40px;
  margin-top: 26px;
  }
  .side-content ul li  .fa-camera {
    float: right;
    margin-right: 43px;
    margin-top: -27px;
    color: #999;
    font-size: 16px;
    width: auto;
  }
  .side-content ul li .fa-search {
    float: right;
    position: relative;
    margin-top: -27px;
    margin-right: 15px;
    font-size: 14px;
    color: #5076A0;
    text-decoration: none;
    cursor: pointer;
    width: auto;
  }
  .hero .caption{
  width: 100%;
  padding-top: 16rem;
  }
  .testi .item p{
    width: 100%;
  }
  .card .card-header img{
    margin-top: 15px;
  }
  footer .col-md-2{
  width:100%;
  }
  footer .col-md-2 ul{
  padding-left: 0px;
  }
  .footer-bottom ul li{
    float: left;
    width:100%;
  }
  .footer-bottom ul li .select_container{
  margin-top: 10px;
  }
  header.sticky{
  display: none;
  }
  .listing{
    padding: 81px 0px 0;
  }
  .popular .nav-tabs li{
  width: 100%;
  }
  .bread ul{
    padding: 77px 0 10px;
  }
  .overview .over-tabs li{
  display: block;
  width: 100%;
float: left;
  }
  .event article{
    height: auto;
    margin-bottom: 10px;
  }
  .user_profile ul li a{
    width: 33px;
    height: 33px;
  }
  .error .panel{
    padding-top: 44px;
  }
  ._404{
    font-size: 132px;
  }
  .list-hero{
    margin-top: 80px;
  }
  .grid-list .col-md-9 .col-md-8{
  padding-left:15px !important;
  }
  .grid-list .col-md-9 article .menu-grid{
  display: inline-flex;
  }
  .grid-list .col-md-9 article{
  height:auto;
  padding:0px 15px 2px 15px;
  }
  .grid-list .col-md-9 article .list-view{
    margin-top: 15px;
  }
  .signup .form{
  width: 100%;
  }
  .bg-signup{
  margin-top: 60px;
  }
  .update_log{
    padding: 10rem 0px 2rem;
  }
  .update_log .panel .uploader{
    width: 100%;
  }
  .dragBox{
    width: 170px;
  }
  .welcome{
    padding: 0px;
  }
  .welcome .panel article .click img {
    margin-top: -12px;
}
.welcome .panel article div img{
  margin-top: -20px;
}
.info_uploader{
width: 100%;
}
.info_uploader .col-md-2 img{
  margin-top: 3rem !important;
}
.footer_top{
  padding: 9px 0px 21px 0;
}
.dashboard .col-md-2 .panel{
position: relative;
z-index: 99;
}
.manage_product{
  overflow-x: scroll;
  z-index: 99;
position: relative;
}
.barGraph{
  margin-top: 10px;
}
.inner-detail {
  padding: 8rem 0px 0;
}
.location_pg{
  padding: 9rem 0px 0; 
}
.location_pg .grey-box{
  margin-top: 20px;
}
.location_pg .like .col-md-3 a{
margin-bottom: 10px;
float: left;
width: 100%;
text-decoration: none;
}
.cate-menu .white-box ul li{
  display: inline-block;
}
.cate-menu .white-box ul li a {
  width: 105px;
}
.update_log .panel .uploader .col-md-6 a{
  margin-left:0;
  margin-right: 0px;
}
.app{
padding: 0px;
}
.app article{
  padding-top: 5rem;
}
.app .col-md-4 img {
  width: 100%;
}
.app .col-md-8 ul li .form-control{
margin-bottom: 10px;
}
.footer-bottom .container{
width: 100%;
}
.add .col-md-3 img{
margin-bottom: 10px;
}
#list .owl-nav{
float: left;
}
.location .col-md-4 img{
margin-bottom: 10px;
}
.popular{
  margin-bottom: 15px;
}
.page{
  margin-bottom: 7px;
}
.detail h5{
float: left;
width: 100%;
}
.spons span{
  bottom: 15px; 
}
.resto-view span{
display: flex;
}
.update_log .panel .uploader img{
float: left;
}
.profile .col-md-9 .col-md-3{
  padding-left: 15px !important;
}
}